.bg-img {
  height: 90vh;
  background-image: url("https://images.squarespace-cdn.com/content/v1/51b78582e4b09028821c7c1a/1371670116929-TFUALI9XHK8DYJJJFRQQ/_DSF5648-1500.jpg");
  background-size: cover;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: clip;
}

.custom-heading {
  z-index: 10;
  padding: 0.8rem;
  background-color: black;
}
.custom-heading h1 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.873);
  letter-spacing: 0.2rem;
  word-spacing: 3px;
  font-family: Assistant, sans-serif;
}

@media only screen and (max-width: 2000px) {
  .bg-img {
    height: 60vh;
  }
}
@media only screen and (max-width: 1400px) {
  .bg-img {
    height: 50vh;
  }
}

@media only screen and (max-width: 992px) {
  .custom-heading {
    display: none;
  }
  .bg-img {
    background-position: 100% 0%;
    height: 40vh;
  }
}
@media only screen and (max-width: 442px) {
  .bg-img {
    background-position: 100% 0%;
    height: 25vh;
  }
}
