.active {
  color: #f5d540 !important;
}
footer .nav .nav-link {
  color: white;
}

@media screen and (min-width: 990px) {
  footer .nav-link:hover {
    transition: 0.3s;
    scale: 1;
    color: #f5d540 !important;
  }
}
