.active {
  color: rgb(0, 0, 0) !important;
  font-weight: 800;
}
footer .nav .nav-link {
  color: #202020bf;
  text-transform: uppercase;
}

a {
  color: black !important;
}

@media screen and (min-width: 990px) {
  footer .nav-link:hover {
    transition: 0.3s;
    scale: 1;
    color: #f5d540 !important;
  }
}
