.card {
  backdrop-filter: blur(9px) saturate(200%) !important;
  -webkit-backdrop-filter: blur(9px) saturate(200%) !important;
  background-color: rgba(255, 255, 255, 0.94) !important;
  color: #121212fb !important;
  height: 100% !important;
  width: 22rem;
  box-shadow: 0 0 2px 0px rgba(107, 107, 107, 0.513);
}
.card-img-top {
  height: 100%;
  object-fit: cover;
  max-width: 200px;
  padding-top: 20px;
  transition: transform 0.3s ease-in-out;
}
.card:hover .card-img-top {
  transform: scale(1.1);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-footer {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.responsive-round {
  border-radius: 0.373rem 0 0 0.373rem !important;
}
.shadow-filter {
  filter: drop-shadow(-4px -4px 6px white);
}

@media only screen and (max-width: 576px) {
  .card .text-start {
    text-align: right !important;
  }
}
@media only screen and (max-width: 770px) {
  .responsive-round {
    border-radius: 0.373rem 0.373rem 0 0 !important;
  }
  .shadow-filter {
    filter: drop-shadow(0px 3px 4px gray);
  }
}
