.card {
  backdrop-filter: blur(9px) saturate(200%) !important;
  -webkit-backdrop-filter: blur(9px) saturate(200%) !important;
  background-color: rgba(0, 0, 0, 0.94) !important;
  color: rgb(255, 255, 255);
  height: 100% !important;
  box-shadow: 0 0 4px 0px white;
}
.card .row .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pointer {
  cursor: pointer;
}
.responsive-round {
  border-radius: 0.373rem 0 0 0.373rem !important;
}
.shadow-filter {
  filter: drop-shadow(-4px -4px 6px white);
}

@media only screen and (max-width: 576px) {
  .card .text-start {
    text-align: right !important;
  }
}
@media only screen and (max-width: 770px) {
  .responsive-round {
    border-radius: 0.373rem 0.373rem 0 0 !important;
  }
  .shadow-filter {
    filter: drop-shadow(0px 3px 4px gray);
  }
}
